<div class='col-4'>
  <div class='biggest-spenders'>
    <h5 class='bar-title'>
      <span><%= t('spree.simple_dash.biggest_spenders') %></span>
    </h5>

    <table>
      <thead>
        <tr>
          <th><%= t('spree.name') %></th>
          <th class='text-right'><%= t('spree.simple_dash.ord_qty') %></th>
          <th class='text-right'><%= t('spree.simple_dash.ord_total') %></th>
        </tr>
      </thead>

      <tbody>
        <% @biggest_spenders.each do |order| %>
          <tr>
            <td><%= order[0]&.truncate(18) %></td>
            <td class='text-right'><%= order[1] %></td>
            <td class='text-right'><%= number_to_currency order[2] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
