<div class='col-4'>
  <h5 class='bar-title'>
    <span><%= t('spree.simple_dash.checkout_steps') %></span>
  </h5>

  <div id='checkout_steps' style='width:80%; height:220px;'></div>

  <div id='pie-legend'>
    <% @checkout_steps.each_with_index do |v,i| %>
      <div class='pie-element'>
        <i style='background-color:<%= @pie_colors[i] %>'>&nbsp;</i>
        <label><%= v[0].truncate(35) %></label>
        <span><%= number_with_delimiter v[1] %> <%= t('spree.simple_dash.units') %></span>
      </div>
    <% end %>
  </div>
</div>
